# You need to add application.properties in this folder

# Content to add:
spring.datasource.url = jdbc:mysql://{JDBC connection string}:{port}/{db_name}
spring.datasource.username = {user}
spring.datasource.password = {password}
spring.jpa.hibernate.ddl-auto = update
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQLDialect
