td:nth-child(3) {
  text-align: right;
}

td:nth-child(4) {
  text-align: right;
}

td:nth-child(5) {
  display: flex;
  justify-content: center;
}

.delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 28px;
  border: 0;
  padding: 2px;
  margin: 10px;
  letter-spacing: 0.5px;
  background: var(--color-black);
  color: var(--color-white);
}

@media screen and (max-width: 400px) {
  .delete {
    font-size: 10px;
    width: 50px;
  }

  .button {
    font-size: 10px;
    width: 50px;
  }
}
