.member td:nth-child(3) {
  display: flex;
  justify-content: center;
}

.activate,
.delete {
  width: 80px;
  height: 28px;
  border: 0;
  padding: 2px;
  margin: 10px;
  background-color: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .activate,
  .delete {
    font-size: 10px;
    width: 50px;
  }
}
