.contributors {
  width: 100%;
  margin: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-between;
}

.introduction,
.stack,
.source {
  padding-bottom: 20px;
}

.title {
  font-weight: 450;
  text-decoration: underline;
  text-underline-position: under;
  padding: 20px;
}

.content {
  text-indent: 30px;
}
